* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height:100vh
 
}
.left {
  display: flex;
 
  background-color: rgb(236, 236, 143);
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}
.right {
 
  background-color: rgb(250, 250, 240);
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 30rem;
}
.email {
  width: 38rem;
  height: 3.5rem;
  border: none;
  padding: 14px;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
input:focus {
  border: none;
}

.password {
  width: 38rem;
  height: 3.5rem;
  border: none;
  padding: 14px;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.btn {
  text-align: center;
  width: 38rem;
  height: 4.2rem;
  border-radius: 15px;
  font-size: 20px;
  background-color: rgb(225, 225, 153);
  border: none;
  color: white;
  margin-top: 2rem;
}

.text {
  text-align: center;
  margin: 25px;
}

form p {
  text-align: right;
}
.link-text {
  text-align: center;
  margin-top: 4rem;
}
p a {
  text-decoration: none;
}
